<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>oauth-By-Github</title>
  </head>
  <body>
    <a id="login">Oauth By GitHub</a>
    <script>
      const config = {
        client_id: "8f50d1adfb3a4693132c",
        authorize_uri: "https://github.com/login/oauth/authorize",
        redirect_uri: "http://localhost:5000/oauth/redirect",
      }
      const link = document.getElementById("login");
      link.href = `${config.authorize_uri}?client_id=${config.client_id}&redirect_uri=${config.redirect_uri}`;
    </script>
  </body>
</html>
